body {
    background-color: #3ac676; /* Light orange background */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #bc1212;
}

h2 {
    color: #FFFFFF;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Light background for form */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #00796b;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input:hover, select:hover {
    background-color: #ffffff; /* White hover effect */
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

#feedback {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    border: 1px solid #004d40;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Light background for footer */
    position: relative;
    width: 100%;
    bottom: 0;
}
